useDynLib(hmmTMB, .registration = TRUE)
exportPattern("^[[:alpha:]]+")
S3method(logLik, HMM)
S3method(update, HMM)
importFrom(stringr, str_trim)
importFrom(stringr, str_split)
importFrom(stringr, str_split_fixed)
importFrom(Matrix, bdiag)
importFrom(optimx, optimx)